.settings{
    background-color: white;
    height: 60vmin;
    width: 110vmin;
    padding: 2vmin;
    margin-bottom: 8vmin;
}


.tags{
    display: flex;
    flex-direction: row;
    gap: 2vmin;
    width: 100%;
}