.item{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2vmin;
    font-size: 2vmin;
    height: 4vmin;
    color: #5A607F;
}

.sidebar_icon{
    width: 2vmin;
    height: 2vmin;
}