<div>
    <p>Profile Details</p>
    <p>Enter your profile information</p>

    <div>
        <p>Profile Image</p>
        <div id="upload">
            <button id="add_file">Add File</button>
            <p> on drag and drop files</p>
        </div>
        <div class="fields">
            <div>
                First Name
                <div></div>
            </div>
            <div>
                Last Name
                <div></div>
            </div>
            <div>
                Email Address
                <div></div>
            </div>
            <div>
                Phone Number
                <div></div>
            </div>
        </div>
     </div>