#regional_section{
    display: flex;
    flex-direction: column;
    gap: 3vmin;
    border-top: 1px solid #E6E9F4;

    padding-top: 1vmin;
}

#dropdowns{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 3vmin
}
#regional_details_text{
    font-size: 16px;
    height: 0.5vmin;
    display: flex;
    align-items: center;
}

#regional_details_sidetext{
    font-size: 14px;
    height: 0.5vmin;
    color: #5A607F;
}