.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 28vmin;
    height: 100vh;
    padding-top: 3vmin;
    border-right: 1px solid #D7DBEC
}


.heading{
    color: #A1A7C4
}

#main-items{
    display: flex;
    justify-content: start;
}

#other-items{
    display: flex;
    justify-content: start;
}

